body
{
    align-items: center;
}

#top_background
{
    width: 100%;

}

.all
{
    position: absolute;
    
    margin-top: -3%;
    width:100%;
    left: 0%;
    
    height: 400%;
    align-items: center;
    
}

#tit
{
    position: absolute;
    z-index: 100;
    margin-top: 12%;
    font-size: 43px;
    color: #fff;
    font-family: 'PT SANS';
    margin-left: 36%;
}

.all .policy_para
{
    
}

.all .policy_para p
{
    margin-left:10%;
    margin-right: 10%;
}


.all .pri_blog
{
    
   
    
    margin-left: 10%;
    
    height: 16%;;
    width: 80%;
    text-align: center;
    
}

.all .pri_blog div
{
    float: left;
    
    height: auto;
    width: 32%;
    
   
}













/*FOOTER-----------------------*/
#footer
{
    
    height: 50px;
    width: 100%;
     background: #002542; /* Old browsers */
    background: -moz-linear-gradient(left,  #002542 0%, #1d3e55 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#002542), color-stop(100%,#1d3e55)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #002542 0%,#1d3e55 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #002542 0%,#1d3e55 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #002542 0%,#1d3e55 100%); /* IE10+ */
    background: linear-gradient(to right,  #002542 0%,#1d3e55 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002542', endColorstr='#1d3e55',GradientType=1 ); /* IE6-9 */

}
#footer-links
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
}
#footer-links>a
{
    color: black;
    font-family: PT Sans, sans-serif;
    text-decoration: none;
}
#footer-links>a:hover
{
    color: #ababab;
}