.nav_bar-writer
{
    position: absolute;
    top: 5px;
    left: 7%;
    height:auto;
    width: 86%;
    
    font-family: 'PT sans';
    
}

.nav_bar-writer ul li
{
    list-style:none;
    float: right;
    padding: 0 30px; 0 20px;
    font-family: 'PT sans';
}

.nav_bar-writer ul li:hover
{
    color:#002542;
}

.nav_bar-writer ul li a
{
    text-decoration:none;
    color: #2eb161;
}

.nav_bar-writer ul li img
{
    height: 45px;
    margin-top: -13px;
    
}


.nav_bar-writer ul #logo
{
    float: left;
}
.nav_bar-writer ul #logo img
{
    
    margin-left: -63px;    
    height: 38px;
    margin-top: 0px;
}

.accnt
{
    transform: rotateX(90deg);
}
.accnt li
{
    padding-right: 0;
}
.nav_bar-writer ul li ul
{
    padding-top: 14px;
    float: right;
}

.nav_bar-writer ul li ul a li
{
    background:#2eb161;
    color: #fff;
    width: 100%;
    float: left;
    padding: 6px 0px 6px 0px;
    transition: 0.3s;
}
/*-----------------------------*/





















.writer_main
{
    position: absolute;
    height: 400px;
    width: 86%;
    top: 155px;
    left: 7%;
    
    
    
}


.writer_main .writer_tab
{
    position: absolute;
    top: 0%;
    height: 153px;
    width: 175px;
    left: 0;
    border-top: solid;
    border-bottom: solid;
    border-width: 8px;
    border-color: #2eb161;
    
    
/*    background: orange;*/
}

.writer_main .writer_tab ul
{
    margin-left: -42px;
}
.writer_main .writer_tab ul li
{
    list-style: none;
    font-size: 15px;
    padding: 2px 0 2px 8px;
    margin: 2px 0 2px 0;
    font-family:sans-serif;
    font-weight: 100;
    transition: 0.2s;

}

.writer_main .writer_tab ul a
{
    text-decoration: none;
    color: black;
    
  
    
}
.writer_main .writer_tab ul a li:hover
{
    
    border-left: solid;
    border-width: 4px;
    border-color: #2eb161;
    transition: 0.3s;
}

.tab_result
{
    position: absolute;
    top: 0;
    left: 190px;
    height: 400px;
    width: 81.2%;
    border-top: solid;
    border-width: 1.2px;
    border-color: #2eb161;
    font-family: monospace;
    
}

.tab_result div
{
    margin-left: 35px;
    display: none;
    transition: 0.5s;
}

.tab_result .profile h2
{
    margin-left: -15px;
    color:#2eb161;
}

.tab_result .profile h3 
{
    float: right;
}

.tab_result .profile h3 #update_but
{

    color:#fff;
    font-size: 18px;
    background: #2eb161;
    padding: 4px 9px 4px 9px;
    border-radius: 3px;
}



#welcome
{
    display: block;
    text-align: center;
    color: #2eb161
}



#welcome h5 img
{
    position: static;
    width: 350px;
    
}

.tab_result .job
{
    text-align: center;
    color:#2eb161;
}

.tab_result .job ul li
{
    float: right;
    padding-left: 17px;
    color:#2eb161;
}

.tab_result .job ul li img
{
    height: 15px;
    margin-bottom: -4px;
}
.tab_result .job ul li select option
{
    float: right;
}


.tab_result .job h5 img
{
    position: static;
    height: 200px;
}


.tab_result .job .feeds
{
    color: #2eb161;
    float: left;
    width: 94%;
    height: 140px;
    padding-left: 30px;
    padding-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    text-align: left;
    padding-top: 20px;
    border-bottom: solid;
    border-width: 1px;
   
    transition: 0.2s;
}

.tab_result .job .feeds:hover
{
    border:solid;
    border-width: 1px;
    border-bottom-width: 6px;
    border-color: #2eb161;
    
}

.tab_result .job .feeds h3
{
    font-size: 18px;
}

.tab_result .job .feeds #time
{
    float: right;
}

.tab_result .job  img
{
    height: 35px;
}



#orderSpec
{
    text-align: left;
}

#orderSpec p
{
    font-size: 24px;
    float: none;
}

#orderSpec h1
{
    text-align: center;
    border: solid;
    margin-left: 10%;
    margin-right: 10%;
    border-width: 2px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#applySample
{
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    background: #2eb161;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
}

.claimedProjects
{
    text-align: center;
}

.claimedProjects h2
{
    color: #2eb161;
}

/*------FOOTER--------*/
.foot
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    background: #d9ccff;
    top: 1400px;
    text-align: center;
    font-family:sans-serif;
    font-size: 13px;
}

.foot a
{
    text-decoration: none;
    color:black;
}