 <ul>
              <h4>Reviews of {{writer.name}}</h4>
              <li ng-repeat="review in writer.reviews">
               
                  <strong>{{review.levels}} level</strong>
                  {{review.body}}
                  <cite class="clearfix">—{{review.author}} Created on {{review.createdOn | date}}</cite>
       
              </li>
            </ul>

            <!--  Review Form -->
            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(writer)" novalidate>

              <!--  Live Preview -->
              <blockquote >
                <strong>{{reviewCtrl.review.levels}} level:</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
              </blockquote>

              <!--  Review Form -->
              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.levels" class="form-control" ng-options="stars for stars in ['novice','journey_man','veteran','expert']" title="levels" required >
                  <option value="">Rate the writer</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the writer..." title="Review"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>