@font-face{
	font-family:home;
	src: url("../fonts/champagne_imousines_bold.ttf");
}

@font-face{
	font-family:main-font;
	src: url("../fonts/PT_Sans-Web-Regular.ttf");
}
@font-face{
	font-family:neoteric;
	src:url("../fonts/Neoteric Bold.ttf")
}
@font-face{
	font-family:pt_sans;
	src:url("../fonts/PT_Sans-Web-Regular.ttf")
}
@font-face{
	font-family:nesia;
	src:url("../fonts/Nesia_Calligraphy.ttf")
}

body{
	font-family:main-font;
}

.row{
	/*background:red;*/
}

.container{
	text-align:center;
}
/*
.blank{
	background:black;
}

.form{
	background:green;
}

.i1{
	background:blue;
}
*/
a{
	text-decoration:none;
	color:black;
}
/*
.border{
	border:2px solid gray;
}
*/
.form-control{
	border:2px solid rgb(46,177,97);
}

h1,h2,h3,h4{
	color:rgb(46,177,97);
}

.navbar{
	background:white;
}

.btn{
	background:rgb(46,177,97);
	color:white;
	margin-bottom:20px;
}

.btn:hover{
	color:rgb(46,177,97);
	background:white;
	border:0px white;
	font-size:20px;
}

.img_row{
	float:left
}

.footer_links a:hover{
	text-decoration:none;
}

#areaChoosen{
	font-size:50px;
}
