.query-row{
	background:rgb(46, 177, 97);
	font-family:home;
	color:white;
	height:50px;
	font-size:1.5em;
	vertical-align:middle;
	padding:10px;
}

.form-horizontal{
	font-family:pt_sans;
}

.form-control{
	background:transparent;
	border:2px solid rgb(46, 177, 97);
}

.send-message{
	background:rgb(46, 177, 97);
	color:white;
	font-family:pt_sans;
}

.send-message:hover{
	border:2px solid rgb(46, 177, 97);
	background:rgba(14, 49, 75, 0.7);
	color:white;
}

.side-info{
	font-family:pt_sans;
}

.writer-business{
	background:rgb(46, 177, 97);
	font-family:home;
	color:white;
	height:50px;
	font-size:1.5em;
}

.click-here{
	background:#FFFFFF;
	color:rgb(46, 177, 97);
	font-family:pt_sans;
	float:right;
}

.question{
	padding-top:10px;
	text-align:center;
}

.bottom-footer{
	background:rgb(14, 49, 75);
	font-family:pt_sans;
	color:white;
	height:50px;
	text-align:center;
	padding:20px;
	
}

a{
	color:white;
	text-decoration:none;
}