.header_img{
	float: left;
	height: 50px;
	margin-left: 110px;
	padding-top:5px;
	font-size: 18px;
	font-family:titillium web;
	/*line-height: 20px;*/
}

.footer_link{
	color:white;
}

.footer_link:hover{
	color:white;
}

button:hover{
	color:green;
}

.write:hover{
	background:white;
}

form{
	text-align:center;
}

.form-horizontal a{
	color: black;
	text-decoration:none;
}

.pricing img{
	width:100%;
}

.pricing{
	width:50%;
	height:500px;
	overflow: hidden;
}

.prod_info .prod_info_bar div
{
    top:7%;
    width: 14.2%;
    float: left;
    height: 100%;
    font-family: Champ;   
}

.prod_info .prod_info_bar
{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 134px;
    width: 100%;
    
    background: #fff;
    
    text-align: center;
    
    
    
}

.prod_info .prod_info_bar div img
{
    
    margin-top: 5%;
    height: 47%;
    width: auto;
    
}

.prod_img{
	text-align:center;
	padding-right:147px;
}

#mediabox1{
	
	text-align:center;
margin-right:10px;

/*    background: #46629e;*/
/*    background: rgba(16,17,19,0.4);*/
    background: rgba(0,0,0,0.4);
    color: #fff;
    
    border-color: #fff;
}

#mediabox2{

/*    background: #46629e;*/
/*    background: rgba(20,4,70,0.5);*/
    color: #fff;
    text-align: center;
/*    border: solid;*/
    border-width: 1px;
    border-color: #fff;
    background: rgba(0,0,0,0.4);  

}
.mediabox {
	float: left;
	width: 45%;
	padding: 0 25px;
	height:70%;
}

#pricing{
	width:20%;
	
	overflow: hidden;
}

.form-control{
	border: 2px solid rgb(46,177,97);
}

li{
	font-family:home;
	font-size:0.9em;
}
