@font-face{
	font-family:home;
	src: url("../fonts/champagne_imousines_bold.ttf");
}

@font-face{
	font-family:main-font;
	src: url("../fonts/PT_Sans-Web-Regular.ttf");
}
@font-face{
	font-family:neoteric;
	src:url("../fonts/Neoteric Bold.ttf")
}
@font-face{
	font-family:pt_sans;
	src:url("../fonts/PT_Sans-Web-Regular.ttf")
}
@font-face{
	font-family:nesia;
	src:url("../fonts/Nesia_Calligraphy.ttf")
}
